# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MatchGridDemo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityGames\Cases\MatchGridDemo\.idea\.idea.MatchGridDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
